*{

  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: border-box;
  background-color: whitesmoke;
  font-weight: 150;
  font-style: normal;
}


.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


